body {
    background-image: url("../img/country-quilt.f6fdf805b2dd.png")
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo a {
    color: rgba(0,0,0,0.9)
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}